ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	height: 100%;
}

li{
	cursor: move;
}

.background-image {
	background: url('images/ravenna.png') repeat center center fixed;
}

.no-display {
	display:none;
}

.top-bar {
	padding-top: 1%;
	padding-bottom: 1%;
	text-align: center;
	color: lightgrey;
	background-color: #6B526A;
}

.button-centered {
	margin-top: 40%;
}

.column-1 {
	margin-right: 7px;
}

.column-1-margin {
	margin-left: 2%;
}

.addActivity-button {
	margin-top: 5%;
}

.activity-column {
	padding: 10px;
	margin-top: 2%;
	height: 838px;
	border: dashed 3px grey;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.6);
}

#agenda-column {
	padding: 10px;
	margin-top: 2%;
	height: 773px;
	border: dashed 3px grey;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.6);
}

.agenda-header {
	margin-top: 5%;
}

.form-container {
	margin-top: 5%;
}

.form-align {
	margin-left: 2.5%;
}

.ratio-box {
	margin-top: 5%;
	height: 90px;
	background: blue;
}

.activity-time {
	padding-top: 4px;
}

.activity-presentation {
	border: 2px solid blue;
	padding: 5px;
	background: lightblue;
	border-radius: 5px;
}

.activity-discussion {
	border: 2px solid green;
	padding: 4px;
	background: lightgreen;
	border-radius: 5px;
}

.activity-groupwork {
	border: 2px solid red;
	padding: 4px;
	background: orange;
	border-radius: 5px;
}

.activity-break {
	border: 2px solid orange;
	padding: 4px;
	background: yellow;
	border-radius: 5px;
}
.activity-presentation:hover {
	color: white;
}

.activity-discussion:hover {
	color: white;
}

.activity-groupwork:hover {
	color:white;
}

.activity-break:hover {
	color:white;
}
#start-time {
	width: 50%;
}

#agendaView {
	margin-top: 1%;
}

#addDayView {
	margin-top: 30%;
}