.no-display {
	display:none;
}

.button-centered {
	margin-top: 40%;
}

.column-1 {
	margin-right: 7px;
}

.addActivity-button {
	margin-top: 5%;
}

.activity-column {
	padding: 10px;
	margin-top: 2%;
	height: 838px;
	border: dashed 3px grey;
}

#agenda-column {
	padding: 10px;
	margin-top: 2%;
	height: 773px;
	border: dashed 3px grey;
}

.agenda-header {
	margin-top: 5%;
}

.form-container {
	margin-top: 5%;
}

.ratio-box {
	margin-top: 5%;
	height: 90px;
	background: blue;
}

.activity-time {
	padding-top: 4px;
}

.activity-presentation {
	border: 2px solid blue;
	padding: 4px;
	background: lightblue;
}

.activity-discussion {
	border: 2px solid green;
	padding: 4px;
	background: lightgreen;
}

.activity-groupwork {
	border: 2px solid red;
	padding: 4px;
	background: orange;
}

.activity-break {
	border: 2px solid orange;
	padding: 4px;
	background: yellow;
}

#start-time {
	width: 50%;
}

#agendaView {
	margin-top: 1%;
}